body {
    background-image: url("../images/background.jpeg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: "Roboto Condensed", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.card {
    font-family: "Roboto Condensed", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 120%;
    border: none;
}

.navbar {
    font-family: "Roboto Condensed", "Helvetica Neue", Verdana, Arial, sans-serif;
    width: 100%;
}


#spacer1 {
    margin-bottom: 40px;
}

#about-me {
    height: 800px;
}

#aboutMeImage {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.portfolio-image {
}

#footer-links {
    text-align: center;
}