body {
    background-image: url("../images/background.jpeg");
    background-color: black;
    background-repeat: repeat;
    background-size: cover;
    background-position: top;
}

.card {
    font-family: "Roboto Condensed", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 120%;
    background: none;
    border: none;
}

.navbar {
    font-family: "Roboto Condensed", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.navbar-brand {
    text-align: center;
}

#spacer {
    margin-top: 40px;
}

#about-me {
    height: 800px;
}

.rounded {
    margin-top: 40px;
    height: 20%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.portfolio-image {
}